<ul class="nav navSidebarApp">
    <li class="nav-item">
        <a class="nav-link" href="/home">
            <span class="icon">
                <img src="/assets/images/icons/sidebar/home.svg">
            </span>
            <span class="name">Home</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-link="assessments" href="">
            <span class="icon">
                <img src="/assets/images/icons/sidebar/assessments.svg">
            </span>
            <span class="name">Assessments</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="">
            <span class="icon">
                <img src="/assets/images/icons/sidebar/excellence.svg">
            </span>
            <span class="name">Excellence<br>Programs<br>Results</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-link="dvpo" href="">
            <span class="icon">
                <img src="/assets/images/icons/sidebar/dvpo.svg">
            </span>
            <span class="name">DVPO</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="">
            <span class="icon">
                <img src="/assets/images/icons/sidebar/vpodocs.svg">
            </span>
            <span class="name">VPO Docs</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-link="links" href="">
            <span class="icon">
                <img src="/assets/images/icons/sidebar/links.svg">
            </span>
            <span class="name">Links</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-link="settings" href="">
            <span class="icon">
                <img src="/assets/images/icons/sidebar/settings.svg">
            </span>
            <span class="name">Settings</span>
        </a>
    </li>
</ul>
