<button type="button" class="btn-toggle-sidebar border rounded shadow" data-bs-toggle="tooltip" data-bs-title="close">
    <div class="icon">
        <i class="bi bi-chevron-double-left"></i>
    </div>
</button>
