<div class="navSidebarSubApp" data-ul="assessments">
    <h6 class="mb-0">ASSESSMENTS</h6>

    <ul class="nav scroll-nav">
        <li class="nav-item">
            <a class="nav-link" href="">VPO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">SMS</a>
        </li>
    </ul>
</div>

<div class="navSidebarSubApp" data-ul="dvpo">
    <h6 class="mb-0">DVPO</h6>

    <ul class="nav scroll-nav">
        <li class="nav-item">
            <a class="nav-link" href="">GOP and Toolkits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Ideas and Best Practices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Shopfloor Problem Solving</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Meetings and Actions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Standards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Autonomous Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">SKAP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Safety Portal</a>
        </li>
    </ul>
</div>

<div class="navSidebarSubApp" data-ul="links">
    <h6 class="mb-0">LINKS</h6>

    <ul class="nav scroll-nav">
        <li class="nav-item">
            <a class="nav-link" href="">Deephow</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">SweepTool - BOPs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">SweepTool - PowerBI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">VPO Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Credit 360</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">GTS - Global Tech Spec   </a>
        </li>
    </ul>
</div>

<div class="navSidebarSubApp" data-ul="settings">
    <h6 class="mb-0">SETTINGS</h6>

    <ul class="nav scroll-nav">
        <li class="nav-item">
            <a class="nav-link" href="">System Transition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Region</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Countries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Type of Facility</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Facilities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Systems</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Travel Schedule</a>
        </li>
    </ul>
</div>
