---
import './_assets/sidebar.css'
import ContentNavSidebarApp from './_content-navSidebarApp.astro'
import ContentNavSidebarSubApp from './_content-navSidebarSubApp.astro'
---

<aside class="sidebarApp">
    <section class="contentSidebarApp">
        <ContentNavSidebarApp />
    </section>
</aside>
<ContentNavSidebarSubApp />

<script is:inline>
    /** --------------------------------------------------------------------
     * navigationActive
    --------------------------------------------------------------------- */
    const navigationActive = () => {
        const currentUrl = window.location.pathname;
        const navLinks = document.querySelectorAll(`.navSidebarApp .nav-item a[href$="${currentUrl}"]`)

        navLinks.forEach(function (link) {
            link.classList.add("active")
            //const dropdownParent = link.closest(".nav-item.dropdown")
            //dropdownParent?.classList.add("active")
        });
    }
    navigationActive()


    $(document).ready(function() {
        $('[data-link]').on('click', function(event) {
            event.preventDefault()

            let attr = $(this).data('link')

            $('[data-link]').removeClass('activeOpenSubMenu')

            $(this).toggleClass('activeOpenSubMenu')

            let ul = $(`[data-ul="${attr}"]`)
            if (ul.length === 0) return

            let isVisibleUL = ul.hasClass('show')

            // Fecha todos os submenus, exceto o correspondente ao link clicado
            $('.navSidebarSubApp').not(ul).removeClass('show')

            // Alterna a visibilidade do submenu correspondente
            if (!isVisibleUL) {
                ul.addClass('show')
                $('[data-toggle="sidebar"]').addClass('rotate')
            }
            else {
                ul.removeClass('show');
                $('[data-toggle="sidebar"]').removeClass('rotate')
                $('[data-link]').removeClass('activeOpenSubMenu')
            }
        })
    })
</script>
