---
import './_assets/sidebar.css'
import ContentNavSidebarApp from './_content-navSidebarApp.astro'
import ContentNavSidebarSubApp from './_content-navSidebarSubApp.astro'
---

<aside class="sidebarApp shadow">
    <button type="button" class="btn-toggle-sidebar border rounded shadow" data-toggle="sidebar">
        <div class="icon">
            <i class="bi bi-chevron-double-right"></i>
        </div>
    </button>

    <section class="contentSidebarApp">
        <ContentNavSidebarApp />
        <ContentNavSidebarSubApp />
    </section>
</aside>

<script is:inline>
    const toggleSidebar = document.querySelector('[data-toggle="sidebar"]')
    const sidebarApp = document.querySelector('.sidebarApp')
    const navSidebarSubApp = document.querySelector('.navSidebarSubApp')

    toggleSidebar.addEventListener('click', function (){
        (this).classList.toggle('rotate')
        sidebarApp.classList.toggle('show')
        navSidebarSubApp.classList.toggle('d-flex')
    })
</script>
