---
import './_assets/sidebar.css'
import ContentNavSidebarApp from './_content-navSidebarApp.astro'
import ContentNavSidebarSubApp from './_content-navSidebarSubApp.astro'
---

<aside class="sidebarApp shadow">
    <button type="button" class="btn-toggle-sidebar border rounded shadow" data-toggle="sidebar">
        <div class="icon">
            <i class="bi bi-chevron-double-right"></i>
        </div>
    </button>

    <section class="contentSidebarApp">
        <ContentNavSidebarApp />
        <ContentNavSidebarSubApp />
    </section>
</aside>

<script is:inline>
    /** --------------------------------------------------------------------
     * navigationActive
    --------------------------------------------------------------------- */
    const navigationActive = () => {
        const currentUrl = window.location.pathname;
        const navLinks = document.querySelectorAll(`.navSidebarApp .nav-item a[href$="${currentUrl}"]`)

        navLinks.forEach(function (link) {
            link.classList.add("active")
            //const dropdownParent = link.closest(".nav-item.dropdown")
            //dropdownParent?.classList.add("active")
        });
    }
    navigationActive()

    // Função para alternar a sidebar
    // $('[data-toggle="sidebar"]').on('click', function() {
    //     $(this).toggleClass('rotate'); // Alterna a classe 'rotate' no botão

    //     // Verifica se a sidebar está fechada (não tem a classe 'show')
    //     if ($('.sidebarApp').hasClass('show')) {
    //         $('.navSidebarSubApp').hide('fast');
    //         $('[data-link]').removeClass('activeOpenSubMenu');
    //     }

    //     // Alterna a classe 'show' na sidebar
    //     $('.sidebarApp').toggleClass('show');
    // });

    // Função para lidar com os links do menu
    $('[data-link]').on('click', function(event) {
        event.preventDefault();

        let attr = $(this).data('link');

        $('[data-link]').removeClass('activeOpenSubMenu');

        $(this).toggleClass('activeOpenSubMenu')

        let ul = $(`[data-ul="${attr}"]`);
        if (ul.length === 0) return;

        let isVisible = ul.is(':visible');

        $('.navSidebarSubApp').not(ul).hide('fast');

        if (!isVisible) {
            ul.show('fast');
        } else {
            ul.hide('fast');
            $('[data-link]').removeClass('activeOpenSubMenu');
        }

        // Alterna a classe 'show' na sidebar
        $('.sidebarApp').toggleClass('show');
    });
</script>
