<aside class="sidebarApp">
    <button type="button" class="btn-toggle-sidebar border rounded shadow" data-toggle="sidebar">
        <div class="icon">
            <i class="bi bi-chevron-double-right"></i>
        </div>
    </button>

    <section class="contentSidebarApp">
        <div class="wrapperNavSidebarApp">
            <ul class="nav navSidebarApp">
                <li class="nav-item">
                    <a class="nav-item active" href="/">
                        <span class="icon">
                            <img src="/assets/images/icons/sidebar/home.svg">
                        </span>
                        <span class="name">Home</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-item" href="">
                        <span class="icon">
                            <img src="/assets/images/icons/sidebar/assessments.svg">
                        </span>
                        <span class="name">Assessments</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-item" href="">
                        <span class="icon">
                            <img src="/assets/images/icons/sidebar/excellence.svg">
                        </span>
                        <span class="name">Excellence<br>Programs<br>Results</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-item" href="">
                        <span class="icon">
                            <img src="/assets/images/icons/sidebar/dvpo.svg">
                        </span>
                        <span class="name">DVPO</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-item" href="">
                        <span class="icon">
                            <img src="/assets/images/icons/sidebar/vpodocs.svg">
                        </span>
                        <span class="name">VPO Docs</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-item" href="">
                        <span class="icon">
                            <img src="/assets/images/icons/sidebar/links.svg">
                        </span>
                        <span class="name">Links</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-item" href="">
                        <span class="icon">
                            <img src="/assets/images/icons/sidebar/settings.svg">
                        </span>
                        <span class="name">Settings</span>
                    </a>
                </li>
            </ul>

            <div class="wrapperNavSidebarSubApp shadow">
                <ul class="nav navSidebarSubApp">
                    <li class="nav-item">sdsadsad</li>
                </ul>
            </div>
        </div>
    </section>
</aside>

<style is:global>
    .wrapperNavSidebarApp{
        display: flex;
        gap: 1rem;

    }

    .wrapperNavSidebarSubApp{
        position: absolute;
        padding: 2.5rem 0.5rem 1rem 0.5rem;
        margin-left: -400px;
        width: 0;
        height: 100%;
        transition: all 0.3s;
        background-color: #fff;
    }
    .wrapperNavSidebarSubApp.show {
        width: 234px;
        margin-left: var(--sidebar-width);
    }
    .navSidebarSubApp{
        display: flex;
        flex-direction: column;
    }




    .sidebarApp {
        z-index: 100;
        position: fixed;
        top: var(--navbar-height);
        left: 0;
        width: var(--sidebar-width);
        height: calc(100vh - var(--navbar-height));
        background-color: #fff;
        box-shadow: var(--bs-box-shadow) !important;
    }

    .btn-toggle-sidebar{
        z-index: 10;
        position: absolute;
        top: 0.7rem;
        right: -0.8rem;
        display: block;
        width: 30px;
        height: 30px;
        padding: 0.1rem 0.5rem;
        background-color: #fff;
    }
    .btn-toggle-sidebar .icon{
        transition: all 0.3s;
    }
    .btn-toggle-sidebar.rotate .icon{
        transform: rotate(-180deg);
    }

    .contentSidebarApp {
        position: sticky;
        top: 0;
        left: 0;
        padding-bottom: 7rem;
        height: 100vh;
    }
    .navSidebarApp {
        flex-direction: column;
        gap: 1rem;
        padding: 2.5rem 0.5rem 1rem 0.5rem;
    }
    .navSidebarApp .nav-item{
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        font-size: 0.75rem;
        color: var(--neutral-colors-600);
    }
    .navSidebarApp .nav-item .icon{
        padding: 0.5rem;
        border-radius: 4px;
        transition: all 0.3s;
        background-color: transparent;
    }
    .navSidebarApp .nav-item:hover .icon{
        background-color: var(--action-colors-defaul);
    }
    .navSidebarApp .nav-item .active .icon{
        background-color: var(--action-colors-defaul);
    }
</style>

<script is:inline>
    const toggleSidebar = document.querySelector('[data-toggle="sidebar"]')
    const wrapperNavSidebarSubApp = document.querySelector('.wrapperNavSidebarSubApp')

    toggleSidebar.addEventListener('click', function (){
        (this).classList.toggle('rotate')
        wrapperNavSidebarSubApp.classList.toggle('show')
    })
</script>
