<div class="info-user">
    <div class="name">Welcome, <strong>Jonh</strong></div>
    <div class="position">Global Administrator</div>
    <div class="email">john@ab-inbev.com</div>
</div>

<style>
    .info-user{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .info-user .name{
        font-size: 1.5rem;
        color: #000;
    }
    .info-user .position{
        font-size: 1rem;
        color: var(--neutral-colors-400);
    }
    .info-user .email{
        color: var(--neutral-colors-300);
    }
</style>
