<ul class="item list-group border mb-3 container-links">
    <li class="list-group-item list-group-item fs-6 py-4 noHover">
        <strong>Support Links</strong>
    </li>

    <li class="list-group-item">
        <a href="#">
            <div class="d-flex align-items-center gap-2">
                <img src="/assets/images/icons/links/vpo.svg">
                <div class="d-flex flex-column">
                    <strong>VPO Documents</strong>
                    <small class="text-neutral-colors-400">Knowledge Transfer</small>
                </div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </a>
    </li>

    <li class="list-group-item">
        <a href="#">
            <div class="d-flex align-items-center gap-2">
                <img src="/assets/images/icons/links/360.svg">
                <div class="d-flex flex-column">
                    <strong>Credit 360</strong>
                    <small class="text-neutral-colors-400">Smart and flexible credit platform</small>
                </div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </a>
    </li>

    <li class="list-group-item">
        <a href="#">
            <div class="d-flex align-items-center gap-2">
                <img src="/assets/images/icons/links/gts.svg">
                <div class="d-flex flex-column">
                    <strong>GTS</strong>
                    <small class="text-neutral-colors-400">Global Technical Specifications</small>
                </div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </a>
    </li>

    <li class="list-group-item">
        <a href="#">
            <div class="d-flex align-items-center gap-2">
                <img src="/assets/images/icons/links/sweep.svg">
                <div class="d-flex flex-column">
                    <strong>SweepTool</strong>
                    <small class="text-neutral-colors-400">PowerBI Visualization</small>
                </div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </a>
    </li>
</ul>
