<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <i class="bi bi-chevron-right icon"></i>
    </ol>
</nav>

<style>
    .main-home{
        max-width: 1018px;
    }
    .breadcrumb{
        gap: 0.75rem;
        align-items: center;
    }
    .breadcrumb .icon{
        font-size: 0.75rem;
    }
</style>
