---
import Layout from '@layouts/Layout.astro';
import Navbar from '@includes/navbar/navbar.astro'
import Sidebar from "@includes/sidebar/sidebar.astro";
import Footer from '@includes/footer.astro'
import ContentBreadcrumb from './_content-breadcrumb.astro';
import ContentInfoUser from './_content-info-user.astro';
import ContentCarousel from './_content-carousel.astro'
import ContentLinks from './_content-links.astro'
import ContentActivities from './_content-activities.astro';
---

<Layout>
    <Navbar />
    <Sidebar />

    <section class="wrapperMainApp">
        <main class="mainContentApp contentHome">
            <ContentBreadcrumb />
            <ContentInfoUser />

            <section class="grid-banner-links">
                <ContentCarousel />
                <ContentLinks />
            </section>

            <ContentActivities />
        </main>

        <Footer />
    </section>
</Layout>

<style is:global>
    .contentHome{
        width: 100%;
        max-width: 80%;
    }
    .grid-banner-links{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }
    @media(max-width: 992px) {
        .grid-banner-links{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
</style>


