---
import Layout from '@layouts/Layout.astro';
import Navbar from '@includes/navbar/navbar.astro'
import Sidebar from "@includes/sidebar/sidebar.astro";
import Footer from '@includes/footer.astro'
import ContentSlideBanner from './_content-slide-banner.astro'
import ContentLinks from './_content-links.astro'
import ContentActivities from './_content-activities.astro';

import './_assets/styles.css'
---

<Layout>
    <Navbar />
    <Sidebar />

    <section class="wrapperMainApp">
        <main class="mainContentApp contentHome">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <i class="bi bi-chevron-right icon"></i>
                </ol>
            </nav>

            <div class="info-user">
                <div class="name">Welcome, <strong>Jonh</strong></div>
                <div class="position">Global Administrator</div>
                <div class="email">john@ab-inbev.com</div>
            </div>

            <section class="grid-banner-links">
                <ContentSlideBanner />
                <ContentLinks />
            </section>

            <ContentActivities />
        </main>

        <Footer />
    </section>
</Layout>
