---
import Layout from '@layouts/Layout.astro';
import Navbar from '@includes/navbar/navbar.astro'
import Sidebar from "@includes/sidebar/sidebar.astro";
import Footer from '@includes/footer.astro'
import ContentBreadcrumb from './_content-breadcrumb.astro';
import ContentInfoUser from './_content-info-user.astro';
import ContentCarousel from './_content-carousel.astro'
import ContentLinks from './_content-links.astro'
import ContentActivities from './_content-activities.astro';
---

<Layout>
    <div class="wrapper-app">
        <Navbar />
        <Sidebar />

        <!-- animate__animated animate__bounceInRight -->
        <main class="mainApp">
            <div class="main-home">
                <ContentBreadcrumb />
                <ContentInfoUser />

                <section class="grid-banner-links">
                    <ContentCarousel />
                    <ContentLinks />
                </section>

                <ContentActivities />
            </div>
        </main>

        <Footer />
    </div>
</Layout>

<style>
    .wrapper-app{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 84px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "navbar navbar"
            "sidebar main"
            "sidebar footer";
    }

    .mainApp{
        grid-area: main;
        padding: 2rem;
    }
    .main-home{
        width: 100%;
        max-width: 85%;
    }

    @media(max-width: 992px) {
        .main-home{
            max-width: 100%;
        }
    }

    .grid-banner-links{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }
    @media(max-width: 992px) {
        .grid-banner-links{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
</style>


