---
import Layout from '@layouts/Layout.astro';
import Navbar from '@includes/navbar/navbar.astro'
import Sidebar from "@includes/sidebar/sidebar.astro";
import Footer from '@includes/footer.astro'
import ContentBreadcrumb from './_content-breadcrumb.astro';
import ContentInfoUser from './_content-info-user.astro';
import ContentBannerLinks from './_content-banner-links.astro'
---

<Layout>
    <div class="wrapper-app">
        <Navbar />
        <Sidebar />

        <main class="mainApp">
            <div class="main-home animate__animated animate__bounceInLeft">
                <ContentBreadcrumb />
                <ContentInfoUser />

                <ContentBannerLinks />


            </div>
        </main>

        <Footer />
    </div>
</Layout>

<style>
    .wrapper-app{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 84px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "navbar navbar"
            "sidebar main"
            "sidebar footer";
    }

    .mainApp{
        grid-area: main;
        padding: 2rem;
    }
    .main-home{
        width: 100%;
        max-width: 85%;
    }
</style>


