---
import Layout from '@layouts/Layout.astro';
---

<Layout>
    <!-- <Navbar />
    <Sidebar />

    <main>

    </main>

    <Footer /> -->

    <section class="wrapper-app">
        <nav class="navbar-app">Navbar</nav>
        <aside class="sidebar-app">Sidebar</aside>
        <main class="main-app">
            <h1>Main</h1>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </main>
        <footer class="footer-app">Footer</footer>
    </section>
</Layout>

<style>
    .wrapper-app{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 84px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "navbar navbar"
            "sidebar main"
            "sidebar footer";
    }
    .navbar-app{
        grid-area: navbar;
        padding: 1rem;
        background-color: rgb(70, 151, 156);
    }
    .sidebar-app{
        grid-area: sidebar;
        position: sticky;
        padding: 32px 8px;

        background-color: rgb(102, 47, 47);
    }
    .sidebar-app.show{
        width: 300px;
    }
    .main-app{
        grid-area: main;
        padding: 1rem;
    }
    .footer-app{
        grid-area: footer;
        padding: 1rem;
        background-color: rgb(208, 255, 0);
    }
</style>

<script is:inline>
    const sidebar = document.querySelector('.sidebar-app')

    sidebar.addEventListener('click', () => {
        sidebar.classList.toggle('show')
    })
</script>
