<li class="nav-item dropdown">
    <button
        class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-animation gap-1 px-1"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
    >
        <img src="/assets/images/navbar/help.svg" />
    </button>

    <ul class="dropdown-menu dropdown-menu-animation dropdown-menu-end shadow">
        <li>
            <a href="#">Help Page</a>
        </li>
        <li>
            <a href="#">User Support</a>
        </li>
        <li>
            <a href="#">Report a Bug</a>
        </li>
    </ul>
</li>
