<li class="nav-item">
    <a
        class="nav-link d-flex align-items-center"
        data-bs-toggle="tooltip"
        data-bs-title="Log Out"
        href="https://supply-chain-portal-login.vercel.app/login/singin"
    >
        <img src="/assets/images/navbar/logout.svg" />
    </a>
</li>
