---
import NavLogos from "./_nav-logos.astro";
import NavLanguage from "./_nav-language.astro";
import NavUser from "./_nav-user.astro";
import NavHelp from "./_nav-help.astro";
import NavLogout from "./_nav-logout.astro";
---

<nav class="navbarApp navbar navbar-expand-md">
    <div class="container-fluid">
        <section class="wrapper-navbar">
            <NavLogos />

            <div class="navbar-nav nav-utilities">
                <NavLanguage />
                <NavUser />

                <NavHelp />
                <NavLogout />
            </div>
        </section>
    </div>
</nav>
