---
import NavLogos from "./_nav-logos.astro";
import NavLanguage from "./_nav-language.astro";
import NavUser from "./_nav-user.astro";
import NavHelp from "./_nav-help.astro";
import NavLogout from "./_nav-logout.astro";
---

<nav class="navbarApp navbar navbar-expand-md">
    <div class="container-fluid">
        <section class="wrapper-navbar">
            <NavLogos />

            <div class="navbar-nav nav-utilities">
                <NavLanguage />
                <NavUser />

                <NavHelp />
                <NavLogout />
            </div>
        </section>
    </div>
</nav>

<style is:global>
    .nav-link{ var(--neutral-colors-600);}
    .nav-link:focus,
    .nav-link:hover { color: #000;}

    .navbarApp {
        grid-area: navbar;
        padding: 1rem 0;
        border-bottom: 1px solid #e9e9e9;
        background-color: #ffffff;
    }
    .wrapper-navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav-utilities {
        gap: 1rem;
        flex-direction: row;
    }
    .nav-utilities .dropdown-menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        border: 0;
        overflow: auto;
        overflow-x: hidden;
        border-radius: 4px;
    }
    .nav-utilities .dropdown-menu a{
        text-decoration: none;
        color: var(--neutral-colors-600);
    }

    .nav-utilities .dropdown-menu li{
        padding: 0.5rem 1rem;
        transition: all 0.3s;
    }
    .nav-utilities .dropdown-menu li:hover{
        background-color: var(--action-colors-defaul);
    }

    @media(max-width: 768px){
        .nav-utilities {
            gap: 0.5rem;
        }
        .nav-utilities .text-nav-link{
            display: none;
        }
    }
</style>
