/* html, body {
    height: 100%;
} */
body {
    /* display: flex;
    flex-direction: column; */
    color: var(--neutral-colors-600);
    font-size: 0.875rem;
    font-family: "IBM Plex Sans", serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
    background-color: #ffffff;
}

/* .main-content {
    flex: 1;
    padding-bottom: 2rem;
} */

.container {
    max-width: 1440px;
}
