body {
    color: var(--neutral-colors-600);
    font-size: 0.9rem;
    font-family: "IBM Plex Sans", serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
    background-color: #ffffff;
}

.container {
    max-width: 1440px;
}

/* --------------------------------------------------------------------
btns
---------------------------------------------------------------------- */
.btn-clearfix {
    margin-top: 3px;
    margin-bottom: 0;
}

.btn-icon{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.btn-small{
    padding: .105rem .45rem;
}

.btn-transparent{
    border: none;
    background-color: transparent;
}

@media(max-width: 1200px){ .btn-last-xl{ float: right;}}
@media(max-width: 992px) { .btn-last-lg{ float: right;}}
@media(max-width: 768px) { .btn-last-md{ float: right;}}
@media(max-width: 576px) { .btn-last-sm{ float: right;}}

/* --------------------------------------------------------------------
link
---------------------------------------------------------------------- */
a {
    transition: all 0.3s ease 0s;
}

/* --------------------------------------------------------------------
scrollbar CSS v1.2
Last update: 06 jul 2021
Rogerio Saraceni
* -------------------------------------------------------------------- */
:root {
    --scrollbar-bg: #f7f2f2;
    --scrollbar-bg-track: #bebcbc;
    --scrollbar-bg-thumb: #bbb5b5;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-bg-track) var(--scrollbar-bg);
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: var(--scrollbar-bg);}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-bg-track);
    border-radius: 20px; /* Arredondamento da barra */
    border: 2px solid var(--scrollbar-bg); /* Para criar um efeito de espaçamento */
}

/* --------------------------------------------------------------------
* - popover-app
---------------------------------------------------------------------- */
.popover-app-modelo{
    --bs-popover-body-padding-x: 0.5rem;
    --bs-popover-body-padding-y: .5rem;
    --bs-popover-bg: #444;
    --bs-popover-body-color: #fff;
}

.popover-app-modelo .popover-header {
    text-align: right;
    cursor: pointer;
}

.info-modelos{ line-height: 1.1;}
.info-modelos p{ margin-bottom: 0.5rem;}
.info-modelos.info,
.info-modelos .info{
    color: #ffc000;
}

/* --------------------------------------------------------------------
* - charts
---------------------------------------------------------------------- */
.overflow-auto-charts{
    overflow-x: auto;
    width: 100%;
}
.overflow-auto-charts .box-charts{
    display: inline-block;
    min-width: 100%;
}