body {
    color: var(--neutral-colors-600);
    font-size: 0.9rem;
    font-family: "IBM Plex Sans", serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
    background-color: #ffffff;
}

.container {
    max-width: 1440px;
}
