/* ////////////////////////////////////////////////////////////////////
https://brandworld.ab-inbev.com/color
variables default
class text color

//////////////////////////////////////////////////////////////////// */

/* --------------------------------------------------------------------
* - variables default
* -------------------------------------------------------------------- */
:root {
    --neutral-colors-400: #666666;
    --neutral-colors-600: #0E0E0E;

    --brand-colors-300: #FFC629;

    --action-colors-defaul: #FFC629;

    --danger-colors-300: #c92323;
}

/* --------------------------------------------------------------------
* - class text color
---------------------------------------------------------------------- */
.text-neutral-colors-400  { color: var(--neutral-colors-400)!important}
.text-neutral-colors-600  { color: var(--neutral-colors-600)!important}
.text-brand-color-300     { color: var(--brand-colors-300)!important}
.text-action-colors-defaul{ color: var(--action-colors-defaul)!important}
.text-danger-colors-300   { color: var(--danger-colors-300)!important}

/* --------------------------------------------------------------------
* - class bg color
---------------------------------------------------------------------- */
.bg-neutral-colors-400  { background-color: var(--neutral-colors-400)!important}
.bg-neutral-colors-600  { background-color: var(--neutral-colors-600)!important}
.bg-brand-color-300     { background-color: var(--brand-colors-300)!important}
.bg-action-colors-defaul{ background-color: var(--action-colors-defaul)!important}
.bg-danger-colors-300   { color: var(--danger-colors-300)!important}

