---
import Head from '@includes/head.astro'
import Loader from "@components/loader.astro"
---

<!doctype html>
<html lang="en">

    <Head />

	<body>
        <Loader />
        <slot />
	</body>
</html>

